In [1]:
import pandas as pd
import numpy as np
from func.ultis import load_obj

In [9]:
retrained_1 = pd.read_csv('output/results_test_model_LRP_retrained_one_transpose.csv')
retrained_2 = pd.read_csv('output/results_test_model_LRP_retrained.csv')
retrained_3 = pd.read_csv('output/results_test_model_LRP_retrained_limit_background.csv')

pretrained = pd.read_csv('output/results_test_model_LRP_pretrained.csv')

edge_gated = pd.read_csv('output/results_test_model_LRP_edge_gated.csv')
edge_gated_2 = pd.read_csv('output/results_test_model_LRP_edge_gated_limit_background.csv')
edge_gated_3 = pd.read_csv('output/results_test_model_LRP_edge_gated_limit_background_2.csv')

In [3]:
retrained_1.describe()

,Unnamed: 0,acc_iou_0_7,acc_iou_0_5,acc_dice_0_7,acc_dice_0_5,avg_iou,avg_dice,voi_1,voi_2
count,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
mean,1.500000,0.437756,0.484800,0.477918,0.524099,0.461948,0.511220,0.276015,1.266359
std,1.290994,0.093522,0.130750,0.122806,0.158579,0.106268,0.124401,0.227561,0.621386
min,0.000000,0.339623,0.349057,0.349057,0.377358,0.346677,0.379127,0.124461,0.798234
25%,0.750000,0.373367,0.385341,0.385341,0.402032,0.384129,0.421108,0.160522,0.802241
50%,1.500000,0.431891,0.490385,0.484432,0.502747,0.473143,0.511485,0.182467,1.076724
75%,2.250000,0.496280,0.589844,0.577009,0.624814,0.550961,0.601598,0.297961,1.540842
max,3.000000,0.547619,0.609375,0.593750,0.713542,0.554828,0.642784,0.614666,2.113754

In [4]:
retrained_2.describe()

,Unnamed: 0,acc_iou_0_7,acc_iou_0_5,acc_dice_0_7,acc_dice_0_5,avg_iou,avg_dice,voi_1,voi_2
count,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
mean,1.500000,0.510820,0.600317,0.580159,0.676854,0.575891,0.649906,0.454598,0.880681
std,1.290994,0.090951,0.097626,0.105924,0.091733,0.081992,0.078415,0.196388,0.807210
min,0.000000,0.435897,0.512821,0.474359,0.589744,0.526289,0.596592,0.262782,0.383967
25%,0.750000,0.464443,0.545658,0.528967,0.607342,0.530372,0.599253,0.327127,0.437074
50%,1.500000,0.482262,0.575177,0.560043,0.665979,0.539566,0.619538,0.422058,0.527399
75%,2.250000,0.528639,0.629836,0.611235,0.735491,0.585085,0.670191,0.549529,0.971006
max,3.000000,0.642857,0.738095,0.726190,0.785714,0.698145,0.763956,0.711493,2.083958

In [8]:
retrained_3.describe()

,Unnamed: 0,acc_iou_0_7,acc_iou_0_5,acc_dice_0_7,acc_dice_0_5,avg_iou,avg_dice,voi_1,voi_2
count,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
mean,1.500000,0.491892,0.550502,0.544693,0.597835,0.524670,0.581713,0.409625,0.907950
std,1.290994,0.083709,0.089499,0.090495,0.130783,0.086582,0.098949,0.193847,0.660548
min,0.000000,0.424528,0.471698,0.461538,0.471698,0.433862,0.474701,0.232507,0.428225
25%,0.750000,0.433055,0.473694,0.469158,0.492925,0.462063,0.509058,0.287646,0.480128
50%,1.500000,0.467949,0.549679,0.543141,0.595238,0.522656,0.591330,0.365529,0.671766
75%,2.250000,0.526786,0.626488,0.618676,0.700149,0.585263,0.663986,0.487507,1.099589
max,3.000000,0.607143,0.630952,0.630952,0.729167,0.619505,0.669491,0.674934,1.860044

In [5]:
pretrained.describe()

,Unnamed: 0,acc_iou_0_7,acc_iou_0_5,acc_dice_0_7,acc_dice_0_5,avg_iou,avg_dice,voi_1,voi_2
count,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
mean,1.500000,0.605609,0.693244,0.676081,0.752727,0.650423,0.720621,0.431546,0.567012
std,1.290994,0.096375,0.139624,0.141902,0.127169,0.095266,0.092456,0.163571,0.472579
min,0.000000,0.500000,0.538462,0.525641,0.615385,0.564438,0.633078,0.261321,0.255940
25%,0.750000,0.549528,0.615747,0.591316,0.670356,0.593522,0.664346,0.316255,0.287222
50%,1.500000,0.598123,0.682734,0.660770,0.745381,0.627074,0.701503,0.422052,0.373656
75%,2.250000,0.654204,0.760231,0.745536,0.827753,0.683975,0.757778,0.537343,0.653447
max,3.000000,0.726190,0.869048,0.857143,0.904762,0.783106,0.846399,0.620759,1.264795

In [10]:
edge_gated_2.describe()

,Unnamed: 0,acc_iou_0_7,acc_iou_0_5,acc_dice_0_7,acc_dice_0_5,avg_iou,avg_dice,voi_1,voi_2
count,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
mean,1.500000,0.539907,0.628169,0.607345,0.725054,0.613598,0.693330,0.602825,0.648372
std,1.290994,0.100988,0.092832,0.098152,0.087654,0.080858,0.076375,0.255330,0.625336
min,0.000000,0.474359,0.551282,0.538462,0.628205,0.566781,0.641081,0.331466,0.244245
25%,0.750000,0.489683,0.576500,0.544993,0.673561,0.571874,0.655333,0.411847,0.302053
50%,1.500000,0.497396,0.599744,0.570460,0.719340,0.576486,0.662709,0.625438,0.385784
75%,2.250000,0.547619,0.651414,0.632812,0.770833,0.618209,0.700707,0.816416,0.732103
max,3.000000,0.690476,0.761905,0.750000,0.833333,0.734638,0.806821,0.828956,1.577673

In [11]:
edge_gated_3.describe()

,Unnamed: 0,acc_iou_0_7,acc_iou_0_5,acc_dice_0_7,acc_dice_0_5,avg_iou,avg_dice,voi_1,voi_2
count,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
mean,1.500000,0.556373,0.649777,0.633070,0.742609,0.623812,0.701082,0.533704,0.641552
std,1.290994,0.085407,0.092308,0.098428,0.078734,0.072875,0.069578,0.209086,0.606297
min,0.000000,0.461538,0.538462,0.512821,0.666667,0.571496,0.647788,0.309287,0.246985
25%,0.750000,0.513822,0.608672,0.588111,0.690252,0.589193,0.663382,0.382194,0.301642
50%,1.500000,0.548644,0.649371,0.634729,0.729265,0.596009,0.676813,0.539342,0.388869
75%,2.250000,0.591195,0.690476,0.679688,0.781622,0.630628,0.714512,0.690852,0.728779
max,3.000000,0.666667,0.761905,0.750000,0.845238,0.731735,0.802912,0.746845,1.541487

In [6]:
edge_gated.describe()

,Unnamed: 0,acc_iou_0_7,acc_iou_0_5,acc_dice_0_7,acc_dice_0_5,avg_iou,avg_dice,voi_1,voi_2
count,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
mean,1.500000,0.537338,0.604870,0.583867,0.679680,0.572097,0.632408,0.350997,0.841023
std,1.290994,0.090933,0.117769,0.108654,0.152930,0.103968,0.113446,0.192704,0.687576
min,0.000000,0.423077,0.461538,0.448718,0.487179,0.453591,0.497041,0.206003,0.392439
25%,0.750000,0.488582,0.568215,0.545773,0.602927,0.535457,0.579441,0.248988,0.428700
50%,1.500000,0.547661,0.603970,0.586232,0.693151,0.563813,0.630942,0.281941,0.558022
75%,2.250000,0.596417,0.640625,0.624326,0.769903,0.600453,0.683909,0.383950,0.970345
max,3.000000,0.630952,0.750000,0.714286,0.845238,0.707171,0.770705,0.634104,1.855611