In [4]:
import pandas as pd
import numpy as np
from func.ultis import load_obj

In [7]:
retrained_1 = pd.read_csv('output/results_test_model_LRP_retrained_one_transpose.csv')
retrained_2 = pd.read_csv('output/results_test_model_LRP_retrained.csv')
retrained_3 = pd.read_csv('output/results_test_model_LRP_retrained_limit_background.csv')
retrained_4 = pd.read_csv('output/results_test_model_LRP_retrained_limit_background_2.csv')
retrained_5 = pd.read_csv('output/results_test_model_LRP_retrained_limit_background_groupnorm.csv')
retrained_6 = pd.read_csv('output/results_test_model_LRP_retrained_1.csv')
retrained_7 = pd.read_csv('output/results_test_model_LRP_retrained_orig.csv')

unet = pd.read_csv('output/results_test_model_LRP_unet.csv')
unet_2 = pd.read_csv('output/results_test_model_LRP_unet_limit_background.csv')

pretrained = pd.read_csv('output/results_test_model_LRP_pretrained.csv')

edge_gated = pd.read_csv('output/results_test_model_LRP_edge_gated.csv')
edge_gated_2 = pd.read_csv('output/results_test_model_LRP_edge_gated_limit_background.csv')
edge_gated_3 = pd.read_csv('output/results_test_model_LRP_edge_gated_limit_background_2.csv')

In [3]:
retrained_1.describe()

,Unnamed: 0,acc_iou_0_7,acc_iou_0_5,acc_dice_0_7,acc_dice_0_5,avg_iou,avg_dice,voi_1,voi_2
count,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
mean,1.500000,0.437756,0.484800,0.477918,0.524099,0.461948,0.511220,0.276015,1.266359
std,1.290994,0.093522,0.130750,0.122806,0.158579,0.106268,0.124401,0.227561,0.621386
min,0.000000,0.339623,0.349057,0.349057,0.377358,0.346677,0.379127,0.124461,0.798234
25%,0.750000,0.373367,0.385341,0.385341,0.402032,0.384129,0.421108,0.160522,0.802241
50%,1.500000,0.431891,0.490385,0.484432,0.502747,0.473143,0.511485,0.182467,1.076724
75%,2.250000,0.496280,0.589844,0.577009,0.624814,0.550961,0.601598,0.297961,1.540842
max,3.000000,0.547619,0.609375,0.593750,0.713542,0.554828,0.642784,0.614666,2.113754

In [4]:
retrained_2.describe()

,Unnamed: 0,acc_iou_0_7,acc_iou_0_5,acc_dice_0_7,acc_dice_0_5,avg_iou,avg_dice,voi_1,voi_2
count,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
mean,1.500000,0.510820,0.600317,0.580159,0.676854,0.575891,0.649906,0.454598,0.880681
std,1.290994,0.090951,0.097626,0.105924,0.091733,0.081992,0.078415,0.196388,0.807210
min,0.000000,0.435897,0.512821,0.474359,0.589744,0.526289,0.596592,0.262782,0.383967
25%,0.750000,0.464443,0.545658,0.528967,0.607342,0.530372,0.599253,0.327127,0.437074
50%,1.500000,0.482262,0.575177,0.560043,0.665979,0.539566,0.619538,0.422058,0.527399
75%,2.250000,0.528639,0.629836,0.611235,0.735491,0.585085,0.670191,0.549529,0.971006
max,3.000000,0.642857,0.738095,0.726190,0.785714,0.698145,0.763956,0.711493,2.083958

In [6]:
retrained_7.describe()

,Unnamed: 0,acc_iou_0_7,acc_iou_0_5,acc_dice_0_7,acc_dice_0_5,avg_iou,avg_dice,voi_1,voi_2
count,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
mean,1.500000,0.497565,0.574142,0.549124,0.638824,0.545758,0.613624,0.434110,0.954883
std,1.290994,0.073341,0.088311,0.083847,0.103774,0.079323,0.083433,0.173030,0.884379
min,0.000000,0.452830,0.512821,0.487179,0.547170,0.470433,0.519751,0.267938,0.429391
25%,0.750000,0.459361,0.517356,0.489719,0.550254,0.507116,0.570611,0.324508,0.435979
50%,1.500000,0.465144,0.540684,0.521325,0.635016,0.527717,0.607663,0.401773,0.560192
75%,2.250000,0.503348,0.597470,0.580729,0.723586,0.566359,0.650676,0.511375,1.079096
max,3.000000,0.607143,0.702381,0.666667,0.738095,0.657165,0.719416,0.664957,2.269758

In [23]:
unet.describe()

,Unnamed: 0,acc_iou_0_7,acc_iou_0_5,acc_dice_0_7,acc_dice_0_5,avg_iou,avg_dice,voi_1,voi_2
count,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
mean,1.500000,0.553540,0.612353,0.600963,0.674359,0.586242,0.646620,0.323930,0.945737
std,1.290994,0.096344,0.117602,0.118058,0.132783,0.104349,0.108463,0.142905,0.826748
min,0.000000,0.448718,0.474359,0.461538,0.487179,0.467417,0.511720,0.197926,0.379039
25%,0.750000,0.502804,0.571420,0.556791,0.638304,0.541952,0.613391,0.234899,0.544906
50%,1.500000,0.543436,0.606574,0.596158,0.706319,0.578283,0.648721,0.287574,0.614713
75%,2.250000,0.594171,0.647507,0.640330,0.742374,0.622573,0.681950,0.376606,1.015543
max,3.000000,0.678571,0.761905,0.750000,0.797619,0.720987,0.777317,0.522647,2.174483

In [8]:
unet_2.describe()

,Unnamed: 0,acc_iou_0_7,acc_iou_0_5,acc_dice_0_7,acc_dice_0_5,avg_iou,avg_dice,voi_1,voi_2
count,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
mean,1.500000,0.543353,0.597787,0.573596,0.649060,0.562446,0.618992,0.274390,1.005076
std,1.290994,0.107034,0.116949,0.123539,0.119728,0.091661,0.097138,0.172788,0.602934
min,0.000000,0.410256,0.461538,0.423077,0.512821,0.460172,0.510740,0.184234,0.493909
25%,0.750000,0.484640,0.525762,0.501996,0.566884,0.502687,0.551523,0.185243,0.550736
50%,1.500000,0.554196,0.601710,0.584463,0.661500,0.561889,0.624340,0.189921,0.869205
75%,2.250000,0.612909,0.673735,0.656064,0.743676,0.621648,0.691809,0.279069,1.323545
max,3.000000,0.654762,0.726190,0.702381,0.760417,0.665834,0.716547,0.533486,1.787982

In [8]:
retrained_3.describe()

,Unnamed: 0,acc_iou_0_7,acc_iou_0_5,acc_dice_0_7,acc_dice_0_5,avg_iou,avg_dice,voi_1,voi_2
count,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
mean,1.500000,0.491892,0.550502,0.544693,0.597835,0.524670,0.581713,0.409625,0.907950
std,1.290994,0.083709,0.089499,0.090495,0.130783,0.086582,0.098949,0.193847,0.660548
min,0.000000,0.424528,0.471698,0.461538,0.471698,0.433862,0.474701,0.232507,0.428225
25%,0.750000,0.433055,0.473694,0.469158,0.492925,0.462063,0.509058,0.287646,0.480128
50%,1.500000,0.467949,0.549679,0.543141,0.595238,0.522656,0.591330,0.365529,0.671766
75%,2.250000,0.526786,0.626488,0.618676,0.700149,0.585263,0.663986,0.487507,1.099589
max,3.000000,0.607143,0.630952,0.630952,0.729167,0.619505,0.669491,0.674934,1.860044

In [13]:
retrained_4.describe()

,Unnamed: 0,acc_iou_0_7,acc_iou_0_5,acc_dice_0_7,acc_dice_0_5,avg_iou,avg_dice,voi_1,voi_2
count,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
mean,1.500000,0.518525,0.576823,0.566051,0.657516,0.573906,0.647318,0.444001,0.868840
std,1.290994,0.074564,0.089342,0.091160,0.112487,0.077012,0.078912,0.167616,0.871864
min,0.000000,0.461538,0.500000,0.487179,0.538462,0.516731,0.587674,0.233490,0.344076
25%,0.750000,0.462083,0.500000,0.489719,0.573295,0.521295,0.589674,0.346897,0.392980
50%,1.500000,0.496757,0.570312,0.555179,0.664849,0.547922,0.622793,0.479196,0.480571
75%,2.250000,0.553199,0.647135,0.631510,0.749070,0.600534,0.680437,0.576300,0.956431
max,3.000000,0.619048,0.666667,0.666667,0.761905,0.683051,0.756012,0.584121,2.170143

In [22]:
unet.describe()

,Unnamed: 0,acc_iou_0_7,acc_iou_0_5,acc_dice_0_7,acc_dice_0_5,avg_iou,avg_dice,voi_1,voi_2
count,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
mean,1.500000,0.553540,0.612353,0.600963,0.674359,0.586242,0.646620,0.323930,0.945737
std,1.290994,0.096344,0.117602,0.118058,0.132783,0.104349,0.108463,0.142905,0.826748
min,0.000000,0.448718,0.474359,0.461538,0.487179,0.467417,0.511720,0.197926,0.379039
25%,0.750000,0.502804,0.571420,0.556791,0.638304,0.541952,0.613391,0.234899,0.544906
50%,1.500000,0.543436,0.606574,0.596158,0.706319,0.578283,0.648721,0.287574,0.614713
75%,2.250000,0.594171,0.647507,0.640330,0.742374,0.622573,0.681950,0.376606,1.015543
max,3.000000,0.678571,0.761905,0.750000,0.797619,0.720987,0.777317,0.522647,2.174483

In [19]:
retrained_5.describe()

,Unnamed: 0,acc_iou_0_7,acc_iou_0_5,acc_dice_0_7,acc_dice_0_5,avg_iou,avg_dice,voi_1,voi_2
count,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
mean,1.500000,0.503472,0.583145,0.569642,0.645282,0.564795,0.633228,0.389376,0.828238
std,1.290994,0.094316,0.120299,0.122286,0.152842,0.102581,0.108300,0.177687,0.660421
min,0.000000,0.410256,0.461538,0.448718,0.500000,0.479444,0.530413,0.260635,0.352289
25%,0.750000,0.449262,0.497460,0.480104,0.521226,0.490663,0.555652,0.288425,0.387464
50%,1.500000,0.486340,0.572425,0.557783,0.641755,0.538532,0.616531,0.323272,0.592894
75%,2.250000,0.540551,0.658110,0.647321,0.765811,0.612664,0.694107,0.424223,1.033667
max,3.000000,0.630952,0.726190,0.714286,0.797619,0.702670,0.769436,0.650326,1.774875

In [21]:
retrained_6.describe()

,Unnamed: 0,acc_iou_0_7,acc_iou_0_5,acc_dice_0_7,acc_dice_0_5,avg_iou,avg_dice,voi_1,voi_2
count,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
mean,1.500000,0.513197,0.586672,0.562481,0.659371,0.558162,0.626374,0.443675,0.906780
std,1.290994,0.078996,0.084237,0.088297,0.113896,0.082194,0.088124,0.189977,0.788715
min,0.000000,0.461538,0.512821,0.474359,0.547170,0.481373,0.526412,0.266753,0.419903
25%,0.750000,0.474760,0.531507,0.507741,0.569485,0.515463,0.581054,0.330500,0.438277
50%,1.500000,0.480149,0.565743,0.548496,0.658253,0.538818,0.620878,0.401301,0.565625
75%,2.250000,0.518587,0.620908,0.603237,0.748140,0.581516,0.666198,0.514476,1.034128
max,3.000000,0.630952,0.702381,0.678571,0.773810,0.673639,0.737327,0.705343,2.075968

In [5]:
pretrained.describe()

,Unnamed: 0,acc_iou_0_7,acc_iou_0_5,acc_dice_0_7,acc_dice_0_5,avg_iou,avg_dice,voi_1,voi_2
count,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
mean,1.500000,0.605609,0.693244,0.676081,0.752727,0.650423,0.720621,0.431546,0.567012
std,1.290994,0.096375,0.139624,0.141902,0.127169,0.095266,0.092456,0.163571,0.472579
min,0.000000,0.500000,0.538462,0.525641,0.615385,0.564438,0.633078,0.261321,0.255940
25%,0.750000,0.549528,0.615747,0.591316,0.670356,0.593522,0.664346,0.316255,0.287222
50%,1.500000,0.598123,0.682734,0.660770,0.745381,0.627074,0.701503,0.422052,0.373656
75%,2.250000,0.654204,0.760231,0.745536,0.827753,0.683975,0.757778,0.537343,0.653447
max,3.000000,0.726190,0.869048,0.857143,0.904762,0.783106,0.846399,0.620759,1.264795

In [10]:
edge_gated_2.describe()

,Unnamed: 0,acc_iou_0_7,acc_iou_0_5,acc_dice_0_7,acc_dice_0_5,avg_iou,avg_dice,voi_1,voi_2
count,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
mean,1.500000,0.539907,0.628169,0.607345,0.725054,0.613598,0.693330,0.602825,0.648372
std,1.290994,0.100988,0.092832,0.098152,0.087654,0.080858,0.076375,0.255330,0.625336
min,0.000000,0.474359,0.551282,0.538462,0.628205,0.566781,0.641081,0.331466,0.244245
25%,0.750000,0.489683,0.576500,0.544993,0.673561,0.571874,0.655333,0.411847,0.302053
50%,1.500000,0.497396,0.599744,0.570460,0.719340,0.576486,0.662709,0.625438,0.385784
75%,2.250000,0.547619,0.651414,0.632812,0.770833,0.618209,0.700707,0.816416,0.732103
max,3.000000,0.690476,0.761905,0.750000,0.833333,0.734638,0.806821,0.828956,1.577673

In [11]:
edge_gated_3.describe()

,Unnamed: 0,acc_iou_0_7,acc_iou_0_5,acc_dice_0_7,acc_dice_0_5,avg_iou,avg_dice,voi_1,voi_2
count,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
mean,1.500000,0.556373,0.649777,0.633070,0.742609,0.623812,0.701082,0.533704,0.641552
std,1.290994,0.085407,0.092308,0.098428,0.078734,0.072875,0.069578,0.209086,0.606297
min,0.000000,0.461538,0.538462,0.512821,0.666667,0.571496,0.647788,0.309287,0.246985
25%,0.750000,0.513822,0.608672,0.588111,0.690252,0.589193,0.663382,0.382194,0.301642
50%,1.500000,0.548644,0.649371,0.634729,0.729265,0.596009,0.676813,0.539342,0.388869
75%,2.250000,0.591195,0.690476,0.679688,0.781622,0.630628,0.714512,0.690852,0.728779
max,3.000000,0.666667,0.761905,0.750000,0.845238,0.731735,0.802912,0.746845,1.541487

In [6]:
edge_gated.describe()

,Unnamed: 0,acc_iou_0_7,acc_iou_0_5,acc_dice_0_7,acc_dice_0_5,avg_iou,avg_dice,voi_1,voi_2
count,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
mean,1.500000,0.537338,0.604870,0.583867,0.679680,0.572097,0.632408,0.350997,0.841023
std,1.290994,0.090933,0.117769,0.108654,0.152930,0.103968,0.113446,0.192704,0.687576
min,0.000000,0.423077,0.461538,0.448718,0.487179,0.453591,0.497041,0.206003,0.392439
25%,0.750000,0.488582,0.568215,0.545773,0.602927,0.535457,0.579441,0.248988,0.428700
50%,1.500000,0.547661,0.603970,0.586232,0.693151,0.563813,0.630942,0.281941,0.558022
75%,2.250000,0.596417,0.640625,0.624326,0.769903,0.600453,0.683909,0.383950,0.970345
max,3.000000,0.630952,0.750000,0.714286,0.845238,0.707171,0.770705,0.634104,1.855611

In [10]:
from func.ultis import load_obj

data_info_dict = load_obj("dataset_info/LRP_dataset_info_original")

In [17]:
for i, k in enumerate(data_info_dict['train']):
    if (i % 4) == 0:
        print(f"{i/4 + 1}--------------------")

    print(f"\"{k}\",")

1.0--------------------
"Movie1_t00014_crop_gt.h5",
"Movie3_T00004_crop_gt.h5",
"Movie2_T00010_crop_gt.h5",
"Movie1_t00012_crop_gt.h5",
2.0--------------------
"Movie2_T00016_crop_gt.h5",
"Movie1_t00045_crop_gt.h5",
"Movie2_T00012_crop_gt.h5",
"Movie1_t00003_crop_gt.h5",
3.0--------------------
"Movie1_t00010_crop_gt.h5",
"Movie3_T00002_crop_gt.h5",
"Movie1_t00009_crop_gt.h5",
"Movie1_t00016_crop_gt.h5",
4.0--------------------
"Movie2_T00014_crop_gt.h5",
"Movie1_t00040_crop_gt.h5",
"Movie1_t00049_crop_gt.h5",
"Movie2_T00002_crop_gt.h5",
5.0--------------------
"Movie2_T00006_crop_gt.h5",
"Movie1_t00018_crop_gt.h5",
"Movie1_t00035_crop_gt.h5",
"Movie1_t00020_crop_gt.h5",
6.0--------------------
"Movie2_T00000_crop_gt.h5",
"Movie2_T00008_crop_gt.h5",
"Movie1_t00030_crop_gt.h5",
"Movie1_t00004_crop_gt.h5",

In [26]:
hms_unet = pd.read_csv("output/results_test_model_HMS_unet.csv")

In [27]:
hms_unet.describe()

,Unnamed: 0,acc_iou_0_7,acc_iou_0_5,acc_dice_0_7,acc_dice_0_5,avg_iou,avg_dice,voi_1,voi_2
count,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
mean,1.500000,0.218728,0.363861,0.335137,0.558700,0.407628,0.527721,1.220636,1.652116
std,1.290994,0.018425,0.045183,0.033128,0.058491,0.032529,0.038635,0.113779,0.229008
min,0.000000,0.193277,0.319328,0.294118,0.492997,0.363919,0.474100,1.105191,1.368100
25%,0.750000,0.211148,0.329010,0.315306,0.517986,0.392359,0.512528,1.157606,1.528807
50%,1.500000,0.224244,0.361597,0.342035,0.563720,0.416289,0.538631,1.201924,1.671711
75%,2.250000,0.231824,0.396448,0.361866,0.604433,0.431558,0.553824,1.264953,1.795021
max,3.000000,0.233146,0.412921,0.362360,0.614362,0.434015,0.559520,1.373502,1.896941